{% extends 'checkerapp/course_content.html' %}
{% load xchk_instructions %}
{% load static %}
{% block course_content %}
<h3>Videomateriaal</h3>
<p class="alert alert-info">Voor deze pagina is nog geen filmpje voorzien. Het gaat alleen om definities, dus er valt ook niet zo veel te demonstreren.</p>
<h3>Schriftelijk materiaal</h3>
<p>De basiswoordenschat van relationele databanken is als volgt:</p>
<ul>
<li>entiteittypes: de <strong>verzamelingen van</strong> interessante gehelen waarover we informatie bijhouden. Op de figuur onderaan is dit bijvoorbeeld de hele verzameling met personen of de hele verzameling met boeken.</li>
<li>entiteiten: de elementen van de verzameling. Elke persoon in de linkse verzameling, bijvoorbeeld William Shakespeare, is een entiteit. Elke persoon en elk boek is een entiteit.</li>
<li>relatietypes: een soort verband <strong>tussen verzamelingen</strong>. Op de figuur is "heeft gelezen" een relatietype.</li>
<li>relaties: een concreet verband tussen entiteiten. Op de figuur is bv. "Michiel heeft The Tempest gelezen" een relatie.</li>
<li>tabellen: de structuur waarin een volledig entiteittype of een relatietype wordt opgeslagen. Deze tabel heeft steeds een naam, of tabelnaam.</li>
<li>records: een tabel bestaat uit rijen of records. Eén record bevat alle gegevens van de rij en stelt dus één entiteit voor.</li>
<li>kolommen (of "velden"): iedere kolom omvat één aanduiding van een gegeven binnen een tabel. Iedere kolom heeft een unieke naam.</li>
</ul>
<p><img src="{% static "xchk_ap_db_intro_content/images/d1aece3e252946b2b739c9dc2d82d043" %}" alt="ownership.png"></img></p>
<p>Ter herinnering, de verzameling met personen stelden we zo voor:</p>

<table>
	<tr><th>Voornaam</th><th>Familienaam</th><th>Geboortejaar</th></tr>
	<tr><td>Vincent</td><td>Nys        </td><td>1987</td></tr>
	<tr><td>Esther </td><td>Nys        </td><td>1990</td></tr>
	<tr><td>Michiel</td><td>Nys        </td><td>1984</td></tr>
	<tr><td>William</td><td>Shakespeare</td><td>1564</td></tr>
	<tr><td>Ted    </td><td>Chiang     </td><td>1967</td></tr>
	<tr><td>Kazuo  </td><td>Ishiguro   </td><td>1954</td></tr>
</table>

{% endblock course_content %}
{% block assignment %}
{% autoescape off %}
  {{ custom_data.rendered_mc_qs }}
{% endautoescape %}
{% endblock assignment %}
