{% extends 'checkerapp/course_content.html' %}
{% load xchk_instructions %}
{% load static %}
{% block course_content %}
<h3>Schriftelijk materiaal</h3>
<p><code>INT</code> dient (net als enkele varianten van diverse groottes, hieronder opgelijst) voor de opslag van gehele getallen. Standaard kan een <code>INT</code> positieve en negatieve gehele getallen voorstellen. We zeggen dat hij dan <code>SIGNED</code> is, dus dat hij vergezeld is van een teken. Als je alleen positieve getallen wil, laat je je datatype volgen door <code>UNSIGNED</code>, bijvoorbeeld <code>TINYINT UNSIGNED</code>.</p>

<table>
	<tr><th>Type</th><th>Gebruikt aantal bytes</th><th>Minimum signed</th><th>Minimum unsigned</th><th>Maximum signed</th><th>Maximum unsigned</th></tr>
	<tr><td>TINYINT</td><td>1</td><td>-128</td><td>0</td><td>127</td><td>255</td></tr>
	<tr><td>SMALLINT</td><td>2</td><td>-32768</td><td>0</td><td>32767</td><td>65535</td></tr>
	<tr><td>MEDIUMINT</td><td>3</td><td>-8388608</td><td>0</td><td>8388607</td><td>16777215</td></tr>
	<tr><td>INT</td><td>4</td><td>-2147483648</td><td>0</td><td>2147483647</td><td>4294967295</td></tr>
	<tr><td>BIGINT</td><td>8</td><td>-2^63</td><td>0</td><td>2^63-1</td><td>2^64-1</td></tr>
</table>

<p>Waarom zo veel soorten? Kijk naar de kolom "gebruikt aantal bytes". Hoe meer getallen je wil kunnen voorstellen, hoe meer plaats je gebruikt. Databasetabellen bevatten vaak erg grote aantallen records, dus een verschil van een paar bytes kan al snel heel veel schelen in gebruikte opslagruimte.</p>

{% endblock course_content %}

{% block assignment %}
{% autoescape off %}
  {{ custom_data.rendered_mc_qs }}
{% endautoescape %}
{% endblock assignment %}
