{% extends 'checkerapp/course_content.html' %}
{% load xchk_instructions %}
{% load static %}
{% block course_content %}
<h3>Videomateriaal</h3>
TODO

<h3>Schriftelijk materiaal</h3>
<p>Niet elk structureel onderdeel van een database moet blijven bestaan. Soms moeten we een tabel, een volledige database of een ander structureel onderdeel verwijderen. Daarvoor gebruiken we het commando <code>DROP</code>, gevolgd door het type structuur dat we willen verwijderen, gevolgd door de naam van die structuur. Als we bijvoorbeeld een database met naam <code>MyDB</code> willen verwijderen, schrijven we <code>DROP DATABASE MyDB</code>. Als we een tabel met naam <code>MyTable</code> willen verwijderen, schrijven we <code>DROP TABLE MyTable</code>.</p>
<p>Merk goed op: het <code>DROP</code>-commando wijzigt iets aan de structuur van de databank. Daarom behoort het tot de Data Definition Language. Onthoud dat alle operaties om iets te verwijderen uit de <strong>structuur</strong> <code>DROP</code>-operaties zijn. Operaties om iets te verwijderen dat geen deel uitmaakt van de structuur, gebruiken een ander woordje dan "DROP".</p>

<h4>Voorbeeld</h4>
<p>TODO: geef een ERD en zeg dat we van dat ERD naar een ander willen overgaan</p>
{% endblock course_content %}

{% block assignment %}
TODO: iets MC-achtig
{% endblock %}
