{% extends 'checkerapp/course_content.html' %}
{% load xchk_instructions %}
{% load static %}
{% block course_content %}
<h3>Schriftelijk materiaal</h3>
<ul>
<li>ingegeven: adres, ergens online</li>
<li>draait software op die locatie: de database server (DBMS)</li>
<li>
ook mogelijk: eigen computer is DBMS<ul>
<li>
voordelen:<ul>
<li>sneller</li>
<li>meer controle</li>
<li>meer mogelijkheid om te experimenteren en bij te leren</li>
<li>geen internettoegang vereist</li>
<li>geen vertraging wanneer collega's er ook op aan het werken zijn</li>
</ul>
</li>
<li>
nadelen:<ul>
<li>extra software</li>
<li>instellingen kunnen afwijken</li>
</ul>
</li>
</ul>
</li>
</ul>

{% endblock course_content %}