{% extends 'checkerapp/course_content.html' %}
{% load xchk_instructions %}
{% load static %}
{% block course_content %}
<h3>Videomateriaal</h3>
<p class="alert alert-danger">In het tweede filmpje zeg ik dat je je bestaande repo voor databanken intro op xchk eerst moet verwijderen. Dat is alleen zo als je deze had aangemaakt op 29 september of eerder. Als je hem op 30 september of later hebt aangemaakt, hoef je hem niet te verwijderen en mag je hem meteen gebruiken.</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/YTO44aLbGMk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/Mu0JlJ3tQBU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h3>Schriftelijk materiaal</h3>
<p class="alert alert-warning">Je kan de filmpjes al volgen, maar je kan deze inhoud nog niet markeren als afgewerkt.</p>
{% endblock course_content %}
