{% extends 'checkerapp/course_content.html' %}
{% load xchk_instructions %}
{% load static %}
{% block course_content %}
<h3>Videomateriaal</h3>
<p>https://youtu.be/8NNHv-uytOs</p>
<h3>Schriftelijk materiaal</h3>
<p>MySQL is een veelgebruikt relationeel DBMS. Het is open source, wat betekent dat iedereen de broncode kan bekijken. Het heeft veel features, uitstekende documentatie en je vindt makkelijk ondersteuning op het web.</p>
<p>Als je met MySQL werkt, werk je eigenlijk niet met één programma, maar met twee programma's: een <strong>client</strong> en een <strong>server</strong>. Deze twee programma's kunnen op twee verschillende machines draaien, maar ze kunnen ook op dezelfde machine draaien.</p>
<p>De client is het programma dat je gebruikt om het DBMS aan te spreken, maar is geen onderdeel van het DBMS zelf. Voor MySQL is dit typisch het programma MySQL Workbench of de MySQL Command Line Interface. Het kan ook een programma zijn dat je zelf schrijft. Via de client <strong>verstuur</strong> je instructies, maar <strong>de client voert zelf de instructies niet uit</strong>.</p>
<p>De server bevat het DBMS zelf. Het DBMS voert de instructies uit die het ontvangt. Omdat de client en de server op twee verschillende locaties kunnen zitten, is het nodig de client met de server te verbinden door bij het opstarten van de client het adres van de server mee te geven.</p>
<p>Vergelijk het met websites. Met je browser verbind je met een bepaald adres en haal je de nodige gegevens af om iets te zien op je scherm. Miljoenen bezoekers kunnen tegelijkertijd op dezelfde website zitten en als je je browser sluit, is de website weg <strong>op jouw machine</strong>. Jij en de andere bezoekers zijn dan allemaal <strong>clients</strong>. De machine die je de gegevens stuurt die je nodig hebt om de website op je scherm te krijgen, d.w.z. de machine die het eigenlijke werk doet, dat is de <strong>server</strong>.</p>

{% endblock course_content %}
{% block assignment %}
Bij deze oefening hoort geen opdracht.
{% endblock %}
