{% extends 'checkerapp/course_content.html' %}
{% load xchk_instructions %}
{% load static %}
{% block course_content %}
<h3>Videomateriaal</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/wKcjQbXl-g4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h3>Schriftelijk materiaal</h3>
<p>De "relationele" database is waarschijnlijk de meestgebruikte soort database. Dit type database is uitgewerkt in de jaren 1970 en steunt op de wiskundige verzamelingenleer.</p>
<p>Zonder deze wiskundige fundering in veel detail te behandelen: het basisidee is dat "interessante gehelen" van informatie in verzamelingen van één soort data worden opgedeeld. Tussen deze verzamelingen bestaan verbanden.</p>
<p>Onderstaande figuur illustreert dit. Op deze figuur zijn de interessante gehelen personen en boeken. Deze twee verzamelingen bestaan los van elkaar, maar er is een verband: sommige personen hebben sommige boeken gelezen.</p>
<p><img src="{% static "xchk_ap_db_intro_content/images/f3dc70a19966441dab9bf9c09ecb6606" %}" alt="ownership.png"></img></p>
<p>Er kunnen veel verbanden zijn. We kunnen bijvoorbeeld een tweede verband hebben dat uitdrukt dat een bepaalde persoon een bepaald boekn heeft geschreven:</p>
<p><img src="{% static "xchk_ap_db_intro_content/images/44ca7a16ce90442697c2c6f7402e7823" %}" alt="authorship.png"></img></p>
<p>Om dit in een elektronisch systeem voor te stellen, maken we geen tekeningen, maar gebruiken we tabellen. We doen dit zowel voor de "interessante gehelen" (dus de elementen van de verzamelingen) als voor de verbanden tussen elementen van deze verzamelingen.</p>
<p>Voor de eerste tekening zou een tabelvoorstelling van de verzamelingen er zo kunnen uitzien:</p>

<table>
	<tr><th>Voornaam</th><th>Familienaam</th><th>Geboortejaar</th></tr>
	<tr><td>Vincent</td><td>Nys        </td><td>1987</td></tr>
	<tr><td>Esther </td><td>Nys        </td><td>1990</td></tr>
	<tr><td>Michiel</td><td>Nys        </td><td>1984</td></tr>
	<tr><td>William</td><td>Shakespeare</td><td>1564</td></tr>
	<tr><td>Ted    </td><td>Chiang     </td><td>1967</td></tr>
	<tr><td>Kazuo  </td><td>Ishiguro   </td><td>1954</td></tr>
</table>

<table>
	<tr><th>Titel              </th><th>Jaar van uitgave</th></tr>
	<tr><td>The Tempest        </td><td>1623            </td></tr>
	<tr><td>Exhalation: Stories</td><td>2019            </td></tr>
	<tr><td>Never Let Me Go    </td><td>2005            </td></tr>
</table>

<p>Ook het verband zou kunnen worden uitgedrukt met een tabel. Hoe dat precies werkt is voor iets verder, maar een vereenvoudiging die en goed beeld geeft is als volgt:</p>

<table>
	<tr><th>Lezer  </th><th>Titel              </th></tr>
	<tr><td>Michiel</td><td>The Tempest        </td></tr>
	<tr><td>Vincent</td><td>Exhalation: Stories</td></tr>
	<tr><td>Esther </td><td>Never Let Me Go    </td></tr>
</table>

<p>Zowat alle DBMS'en voor relationele databases spreken (ongeveer) dezelfde taal: de "Structured Query Language" of SQL. Deze taal is ook gebaseerd op de relationele algebra's en ze maakt dat je vrij snel kan leren werken met één relationele database als je al met een andere relationele database overweg kan. Elk DBMS spreekt wel een eigen "dialect" van SQL, dus je kan niet verwachten dat code voor bijvoorbeeld PostgreSQL (een type relationele database) letterlijk kan worden uitgevoerd in SQLite (een ander type relationele database). Maar normaal moet je er niet veel aan aanpassen.</p>
<p>Typisch voor relationele databases is dat je op voorhand moet vastleggen wat de structuur van je database is: welke tabellen er zijn en wat voor gegevens hier in mogen worden geplaatst. Deze structuur noemen we het "schema". Als je nieuwe gegevens wil bijhouden die niet passen binnen de structuur, moet je eerst de structuur aanpassen. Dit is niet bij alle soorten databanken zo. Andere types databanken hebben soms een heel losse structuur. Dit geeft hen soms meer flexibiliteit, maar zorgt er soms ook voor dat ze minder kunnen waken over de integriteit van hun gegevens.</p>

{% endblock course_content %}

{% block assignment %}
{% autoescape off %}
  {{ custom_data.rendered_mc_qs }}
{% endautoescape %}
{% endblock assignment %}
